<div class="row">
  
  <%= bootstrap_form_with(model: upload_csv, local: true) do |form| %>
    <% if upload_csv.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(upload_csv.errors.count, "error") %> prohibited this upload_csv from being saved:</h2>

        <ul>
        <% upload_csv.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <select  class="js-searchable" name="upload_csv[users][]" multiple="multiple" style="width: 270px;">
    </select>
    <%= form.file_field :csv_file %>


    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".js-searchable").select2({
      tags: true,
      placeholder: "Add multiple email Address only email allowed.",
      tokenSeparators: [','],
      createTag: function(term, data) {
          var value = term.term;
          if(validateEmail(value)) {
              return {
                id: value,
                text: value
              };
          }else
          return null;            
      }
    })

  })
  function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
</script>